[submodule "Dunix/vendor/spdlog"]
	path = Dunix/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Dunix/vendor/GLFW"]
	path = Dunix/vendor/GLFW
	url = https://github.com/TheCherno/glfw
